server {
    listen 80;
    server_name {{ domain }};
    root /var/www/html;
    index index.php index.html;
    client_max_body_size {{ client_max_body_size }};

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location = /awstats {
        return 301 /awstats/;
    }

    location /awstats/ {
        alias /var/www/awstats/;
        index index.html;
        autoindex off;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass php:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $document_root;
    }

    location ~ /\. {
        deny all;
    }
}
