upload_max_filesize = {{ upload_max_filesize }}
post_max_size = {{ post_max_size }}
memory_limit = {{ php_memory_limit }}
max_execution_time = {{ max_execution_time }}
max_input_time = {{ max_input_time }}
max_file_uploads = {{ max_file_uploads }}
